cliente:
{{cliente.nombre}}

<form action="">
    <label for="nombre">Nombre:</label>
    <input type="text" [(ngModel)]="cliente.nombre" name="nombre" id="nombre">
    <label for="email">Email:</label>
    <input type="text" [(ngModel)]="cliente.email" name="email" id="email">
    <button (click)="actualizarDatosCliente()">Actualizar</button>
</form>

<form action="">
    <label for="nombre">Marca:</label>
    <input type="text" [(ngModel)]="vehiculo.marca" name="nombre" id="nombre">
    <label for="email">Anio:</label>
    <input type="text" [(ngModel)]="vehiculo.anio" name="email" id="email">
    <label for="email">Matricula:</label>
    <input type="text" [(ngModel)]="vehiculo.matricula" name="email" id="email">
    <label for="email">Placas:</label>
    <input type="text" [(ngModel)]="vehiculo.placas" name="email" id="email">
    <button (click)="registrarVehiculo()">Registrar</button>
</form>
<table border="2">
    <tr *ngFor="let vehiculo of vehiculos ">
        <td>{{vehiculo.marca}}</td>
        <td>{{vehiculo.anio}}</td>
    </tr>
</table>
