<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px"/>
            <h1>SB Admin BS4 Angular7</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" name="nombre"
                               placeholder="Nombre de Usuario"
                               [(ngModel)]="usuario.nombre">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" name="correo"
                               placeholder="Correo" [(ngModel)]="usuario.correo">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="clave"
                               placeholder="Contraseña" [(ngModel)]="usuario.clave">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="confirmacionClave"
                               placeholder="Repetir Contraseña" [(ngModel)]="confimacionClave">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="registrarUsuario()">Registrarse</a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a>
            </form>
        </div>
    </div>
</div>
